<h2>Track info </h2>

<h4 class="list-group-item mb-2">Track: <%= track %> </h4>
<h4 class="list-group-item mb-2">Artist: <%= artist %> </h4>
<h4 class="list-group-item mb-2">Album: <%= album %> </h4>
<h4 class="list-group-item mb-2">Composer: <%= composer %> </h4>
<h4 class="list-group-item mb-2">Genre: <%= genre %> </h4>
<h4 class="list-group-item mb-2">Duration: <%= formatted_time %> </h4>
<h4 class="list-group-item mb-2">Bytes: <%= bytes %> Megabytes </h4>
<h4 class="list-group-item mb-2">Unit price: <%= price %> $ </h4>


<a href="/" class="btn btn-dark">Back to home</a>
